@import "../variables";

.App {
  max-width: 1080px;
  width: 1080px;
  min-height: 80vh;
}

.hero {
  background-image: url("../images/Hero\ Image.jpg");
  width: 100%;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
