@import "src/variables";

.button {
  color: $white;
  background: $red;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  // max-width: 130px;
}

.big {
  padding: 11px 34px;
}

.small {
  padding: 6px 25px;
}

.content-remove {
  background-color: transparent;
  border: 1px solid $red;
}

.content-add {
  background: $red;
  border: none;
}
